h1{
    text-align:center;
  }
  figcaption{
    text-align:center;
  }
  div{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
  }
  img{
    max-width:100%;
    margin: 10 10;
    height:auto;
    border-radius:10px;
  }